*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.scroll::-webkit-scrollbar
{
  width: 6px;
  display: none;
  transition-duration: 1s;
}
/* .gradient_text{
  background: #f0f0f0;
} */
.bg_color{
  background-color: #f0f0f0;
  padding: 10px;
}

/* .scroll::-webkit-scrollbar
{
  width: 6px;
  display: none;
  transition-duration: 1s;
}
.left:hover .scroll::-webkit-scrollbar
{
  display: block;
}
.scroll::-webkit-scrollbar-track
{
  background-color: #343a40;
}
.scroll::-webkit-scrollbar-thumb
{
  background-color: #cbcdce;
  border-radius: 10px;
} */
.task
{
  padding: 0px 20px;
  background-color: #ffffff;
}
.left
{
  white-space: nowrap;
  overflow-x: hidden;
  background-color: #ffffff;
  transition-duration: .8s;
  color: #b0b3b5;
  box-shadow: 0px 10px 1px gray;
}

ul li
{
  list-style: none;
}
a
{
  text-decoration: none !important;
}
ul
{
  padding-left: 0 !important;
}
.logo
{
  padding-top: 12px;
}
.shadow
{
  box-shadow: 0px 0px 5px gray;
}
.icon_size
{
  font-size: 20px;
  color: orange;
}
.dash
{
  padding: 7px 1px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 700;
}
.example a
{
  color: #6b747e !important;
  padding-left: 10px;
}
.left-webkit-scrollbar
{
  display: none;
}

.scroll
{  
  height: 100vh;
  overflow-y: scroll;
}
.card_icon
{
  font-size: 70px;
}
.trans
{
  background-color: rgba(128, 128, 128, 0.404);
}
.trans a
{
  color: white;
}
.dash:hover
{
  background-color: #ffc107;
  
}
.dash:hover a
{
  color: white !important;
}
/* dashbord icon hover */
.icon_hover:hover .hvr
{
  transform: scale(1.2);
  transition-duration: 1s;
}
/* nav height */
.height
{
  height: 54px;
}
.bar
{
  color: #000000 !important;
}
.logo h5,.task h6,.color,::placeholder
{
  color: #000000;
  font-family: cursive;
}
.img_border
{
  border: 2px solid orange ;
}
.color
{
  color: black;
}

.peta_menu:hover
{
  background-color: rgba(255, 166, 0, 0.661);

}
/* -----------------------log in ---------------------------------- */
.login_box
{
  width: 400px;
  height: 250px;
  background-color: #ffc107;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}
.login_btn
{
  
  font-family: cursive;
  border-radius: 10px;
  border: none;
  padding: 5px 30px;
  font-size: 20px;
  outline: 1px solid #1266f1;
  background-color: #ffc107;

}

.login_btn:hover
{
  background-color: #000000;
  color: rgb(255, 255, 255);
}
.login_bg
{
background-color: #ffc107;
}
.loginpage
{
  background-color: #ffc107;
}
/* ------------------------add user----------------------------- */

.user_heading
{
  background-color: #000000;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}
.view_user
{
  border: 2px solid rgb(0, 0, 0);
  /* padding: 40px; */
  box-shadow: 5px 5px 20px rgba(128, 34, 0, 0.757);
}
/* ----------------------new student-------------------- */
.tab_border button.active
{
  border-top:2px solid orange !important ;
  border-left: 2px solid orange !important;
  border-right: 2px solid orange !important;
}
.add_student
{
  box-shadow: 0px 0px 8px orange;
  border-radius: 10px;
}
.add_btn
{
  padding: 4px 14px  !important;
  border: none;
  border-radius: 10px;
  background-color: #ffc107;
  font-size: 20px;


}
.delet_btn
{
  padding: 7px 14px  !important;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: #fff;
}
.width
{
  width: 250px !important ;
}
/* add content-------------------------------------------- */
.content_box

{
  width: 600px;
  background-color: rgba(255, 166, 0, 0.797);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;

}
/* -----------------------------viewcontent------------------------------------ */
.view_user::-webkit-scrollbar
{
  display: none;
}
@media only screen and (max-width:400px)
{
  .view_user::-webkit-scrollbar
  {
    display: block;
    height: 6px;
  }
 
.view_user::-webkit-scrollbar-thumb
{
  background-color: rgba(255, 166, 0, 0.718);
  border-radius: 10px;
}
}
/* view student------------------------------ */
.imgs
{
  width: 50px;
  height: 50px;
}
.form-control:focus
{
  box-shadow: none !important;
}
